/* StyleSheeet for index.html */

body {
    color: #0cd600;
    background-image: url('backimage.jpg');
    background-repeat: no-repeat;
    font-size: 14px;
    background-size: cover;
}
@font-face {
    font-family: myFirstFont;
    src: url(BebasNeue-Regular.ttf);
}
header {
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#0cd600;
    font-size: 25px;
    font-weight: bolder;
    margin:0%;
    padding: 0%;
    postion: fixed;
    top: 0;
    Left: 0;
}
ul {
    position: fixed;
    top: 0;
    right: 20%;
    text-align: center;
}
li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    margin: 5px;
}
/* Took away Showcard gothic and Segoe UI because I could not find them in google or adobe fonts. Added my own font in and added back ups. */
nav ul li a {
    color: #0cd600;
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: normal;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
    font-size: 35px;
}
nav ul li a:hover {
    color:#0cd600;
}

main {
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    text-align: center;
    color: #0cd600;
    font-size: 60px;
    font-weight:350;
    /*top: 50%;
    left: 50%;
    bottom: 70px;
    margin-top: 50px;
    margin-left: 50px;*/
}
aside {
    text-align: right;
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0cd600;
    text-decoration:none;
    font-size: 25px;
    width: 70%;
}
a {
    font-weight: bolder;
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: none;
    color: #0cd600;
}
aside a:hover {
    color: black;
    text-decoration: none;
}
aside a:visited {
    color:black
}
main strong a {
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
main strong a:hover {
    color: black;
}
main strong a:visited {
    color: black;
}
/* moved width and height from HTML file to CSS file */
img {
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 170px;
    height: 130px;
}


/* contact page */
p {
    color: #0cd600;
    font-family: "myFirstFont", 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    float: left;
}
p strong {
    text-decoration: underline;
}
footer {
    color:white;
    bottom:0%;
    right: 40%;
   position: fixed;
   text-align: center;
   font-weight: bolder;
   font-size: medium;
   font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
   text-transform: uppercase;
   padding: 20px;
}
footer img {
    width: 150px;
    height: 50px;
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}
*.contact-form {
    height: auto;
    width: 400px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    float: right;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    color:white;
}
body form p {
    font-size: 10px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    color:white;
    font-weight: bold;
    text-align: center;
}
form h1 {
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #0cd600;
    font-weight: bolder;
}
input[type=text], textarea, select {
    width: 100%;
    height: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color: #191718;
    border-radius: 1px;
    box-sizing: border-box;
}
  input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;text-transform: uppercase;

}



/* About page */
header {
    position: fixed; /* Fixes the header at the top */
    top: 0;
    left: 0;
    z-index: 1000; 
    width: 100%;
}

body h2 {
    font-size: 30px;
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0cd600;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-top: 10px;
}
body p {
    font-size: 50px;
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#0cd600;
    text-align: right;
    padding: 0%;
    text-transform: capitalize;
}
section {
    margin-top: 0; /* Increase or decrease this value to adjust the gap */
    text-transform: capitalize;
}
section p {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  white;
    text-align: right;
    padding: 0;
    margin-top: 30px;
    display: block;
    text-transform: capitalize;
}
.container {
    width: 80%;
    margin: 0;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 0;
    text-transform: capitalize;
  }
.column {
    width: 48%;
    float: right; /* Change float to right */
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  }
 .about-title {
    text-align: left;
    font-size: 50px;
    color: #0cd600;
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
  }

/* Target paragraphs within the education section */
section.education .education-info p {
    font-size: 20px;
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: right;
    padding: 0;
    margin-top: 10px; /* Adjust as needed */
    display: block;
}

  /* Services Page*/
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    color: white; 
    margin-bottom: 20px;
    padding: 0%;
    text-align: center;
    margin-left: -70px;
  }
  .services_dis {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  
  .services_dis p {
    width: 50%;
    margin:5px auto; /* Adds space between paragraphs */
    /*display: block; /* Ensure paragraphs behave as block elements */
    font-size: 15px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    text-transform: capitalize;
    line-height: 1.5; /* Adjust line height for better readability */
    padding: 0;
    text-align: center;
  }
  h3 {
    margin-top: 0;
    font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    color: #0cd600;
    padding: 0%;
    font-size: 30px;
    margin: 0;
  }
  .services-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  
  }
  .services-title {
  writing-mode:horizontal-tb;
  text-orientation:upright;
  width: fit-content;
  padding: 30px;
  margin: 0;
  margin-top: 60px;
  margin-right: 10px; 
  margin-left: 10px;
  font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
  color: #0cd600;
  font-weight: bolder;
  font-size: 70px;
  word-spacing: 2px;
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }



/* testimonials page */

/* Styles for the slideshow */
.slideshow-container {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  .gallery-image {
    display: none; 
    width: 100%; 
    height: auto; 
    position: absolute;
    top: 0;
    left: 0;
  } 
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  } 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .window-title {
    /* Style title */
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
  }
 .article-container {
    flex-direction: column; /* Trying to Stack elements vertically */
    align-items: flex-start;
    text-align: center;
    align-items: center;
    display: flex;
}
main .testimonials-title {
  font-family:'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
  writing-mode:horizontal-tb;
  text-orientation:upright;
  width: fit-content;
  padding: 30px;
  margin: 0;
  margin-bottom: 20px;
  margin-right: 0px; 
  margin-left: 100px;
  color: #0cd600;
  font-weight: bolder;
  font-size: 70px;
  word-spacing: 2px;
  text-align: center;
  align-items: center;
}
.testimonials-title {
  font-family: 'myFirstFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
